extends base

block content
  p
    | Welcome to Coalesce. This is a site for sharing ideas with lowered risk
    | of first response caused polution, strong personalities pushing their
    | ideas, and hivemind influence.